#pantalla-game-over{
    display : none;
    width: 100vw;
}
#pantalla-juego{
    
    display : none;
    width: 100vw;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:15px;
    font-weight:700;
    text-transform: uppercase;
    
    
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
}

#game-box {
    position: relative;
    overflow: hidden;
    user-select: none;
    background-image: url(../IMAGENES/Espacio-Azul.png);
    background-size: cover;
    background-position: center; 
    width: 70vw;
    height: 45vw;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#navbar{
    list-style: none;
    margin-top: 10px;
    font-size:13px;
    text-transform: uppercase;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

#pantalla-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#play-btn{

    width: 120px;
    height: 80px;
    position:absolute;
    background:rgba(57, 58, 146, 0.27);
    text-transform: uppercase;
    color:black;
    font-weight:700;
    letter-spacing:1px;
    padding: 20px;
    font-size: 20px;
    margin-top: 130px;
    border-radius: 10px; 
    color:white;
  }

#instrucciones-btn{
    width: 240px;
    height: 60px;
    position:absolute;
    background:rgba(57, 58, 146, 0.27);
    text-transform: uppercase;
    color:black;
    font-weight:700;
    letter-spacing:1px;
    padding: 20px;
    font-size: 20px;
    margin-top: 290px;
    border-radius: 10px; 
    color:white;

  }
  #saludoUser{
    padding: 15px;
    display: none;
    text-align: center;
    align-items: center;
    position:absolute;
    margin-top: -70px;
    width: 250px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:18px;
    font-weight:700;
    text-transform:uppercase;
    background:rgba(57, 58, 146, 0.27);
    color:white;
  }
#instrucciones{
    padding: 15px;
    display: none;
    text-align: center;
    align-items: center;
    position:absolute;
    margin-top: 500px;
    width: 700px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:18px;
    font-weight:700;
    text-transform:uppercase;
    background:rgba(57, 58, 146, 0.27);
    color:white;

}
#registro{
    
    text-transform: uppercase;
    margin-top: -300px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:20px;
    font-weight:700;
    position:absolute;
    color:white;
}
#save-btn{
    border-radius: 10px; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:15px;
    font-weight:700;
    text-transform: uppercase;
    background:rgba(57, 58, 146, 0);
    color:white
}
#name{
    border-radius: 10px; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:15px;
    font-weight:700;
    text-transform: uppercase;
    background:rgba(57, 58, 146, 0.27);
    color:white;
}

#message {
    position: absolute;
    font-size: 140px;
    background-color: rgba(138, 138, 138, 0);
    color: rgb(204, 191, 191);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#startMusicBtn{
    text-transform: uppercase;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:12px;
    font-weight:700;
    position:absolute;
    margin-top: -620px;
    margin-left: 630px;
    background:rgba(57, 58, 146, 0.27);
}
.txt-lvl{
    display: none;
}

#titulo{
    margin-top: -450px;
    position:absolute;
}

body{

    align-items: center;
    display: flex;
    background-image: url(../IMAGENES/fondo.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }

#try-again-btn{
    width: 380px;
    height: 100px;
    margin-top: 490px;
    position: absolute;
    background-color:rgba(255, 255, 255, 0);
}

